# Build Folders
bin/
obj/
Debug/
Release/

# User-specific files
*.user
*.suo
*.userprefs
*.pidb
*.svd

# Visual Studio
.vs/

# Rider IDE
.idea/

# NuGet
*.nupkg
packages/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# OS files
Thumbs.db
.DS_Store
